.carousel-background {
    background-color: #343a40;
}

.carousel-inner img {
    height: 300px;
}

.carousel-control-prev-icon {
    border-style: none;
}

.carousel-control-next-icon {
    border-style: none;
}
.title:hover, .votes:hover{
    background-color: darkgrey;
}
