body{
    width: 100%;
}
.arrow{
    color:#fff;
}
.arrow:hover{
    color:gold;
    cursor: pointer;
}

.arrow-wrap{
    border: 1px solid white;
    height:30px;
    width:25px;
}
.arrows{
    display: flex;
    align-items: center;
}
.disabled{
    display: none;
}

.card img{
    height:200px;
}

.card-text{
    font-size: medium;
    color: white;
    margin-left: 5px;
   
}
.card-body{
    height:150px;
}
.card-body h5{
    color:white;
}

h5:hover{
    color:gold;
    cursor: pointer;

}


.card-deck{
    background-color: #343a40;
    padding: 50px;
}
.card-body{
   position: relative;
   background-color:rgb(27, 27, 27);
}

.card-img-top{
    width:200px;
    height:300px;
}

.rating{
    display: flex;
    align-items: center;
    
}

.star{
    color: gold;

}


