.switch {
  text-align: center;
  text-decoration: none;
  color: rgb(243, 88, 17);
}

.loginform {
  width: 50%;
  color: rgb(243, 88, 17);
}

.navbar-text-username {
  color: white;
  padding-left: 20px;
}
